{
  "permissions": {
    "allow": [
      "Shell(ls)",
      "Shell(fvm)"
    ],
    "deny": []
  },
  "version": 1,
  "editor": {
    "vimMode": false
  },
  "model": {
    "modelId": "kimi-k2.5",
    "displayModelId": "kimi-k2.5",
    "displayName": "Kimi K2.5",
    "displayNameShort": "Kimi K2.5",
    "aliases": [
      "kimi"
    ],
    "maxMode": false
  },
  "hasChangedDefaultModel": true,
  "maxMode": false,
  "privacyCache": {
    "ghostMode": true,
    "privacyMode": 2,
    "updatedAt": 1774044174014
  },
  "authInfo": {
    "email": "regis.kian@fleetworthy.com",
    "displayName": "Regis Kian",
    "teamId": 12622257,
    "teamName": "Fleetworthy",
    "userId": 317233632,
    "authId": "auth0|user_01KF23BH7H41TTW6KT91JH8KR8"
  },
  "network": {
    "useHttp1ForAgent": false
  },
  "approvalMode": "allowlist",
  "sandbox": {
    "mode": "disabled",
    "networkAccess": "user_config_with_defaults"
  },
  "attribution": {
    "attributeCommitsToAgent": true,
    "attributePRsToAgent": true
  }
}
